
<%= image_tag @blog_post.cover_image.variant(resize_to_limit: [500, 500]) if @blog_post.cover_image.attached? %>
<h1><%= @blog_post.title %></h1>
<p><%= @blog_post.content %></p>

<%= link_to "Edit Post", edit_blog_post_path(@blog_post) if user_signed_in? %>